
.Container{
    display: flex;
	justify-content: center;
	align-items: center;
    background-color: var(--linkr-bg-color);
	min-height: 100vh;
    width: 100%;
}
.login_container{
    background-color: var(--card-bg-color);
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid var(--card-border-color);
    
}
.input_field {
    border: none;
    outline: none;
    border-radius: 5px;
background-color: var(--input-field-color);
padding: 16px;
margin-bottom: 10px;
color: var(--font-color);

}
.input_container {
    display: flex;
	flex-direction: column;
flex-wrap: none;
align-content: space-between;

}


.login_btn_invalid{
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #9ca3af;
    color: white;
}
.login_btn_valid{
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #7964ff;
    color: white;
}


a{
    color: var(--font-color);
}

.login_container h1{
    font-size:1rem ;
    font-weight: bold;
}

/* .login_container h2{
    font-size:1rem ;
    font-weight: bold;
} */

.login_content{
    color:var(--font-color);
}