.background_editor{
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    padding: 16px;
    border: 1px solid rgb(209 213 219 / 1);
}

.backgroundcolour_editor{
    display: flex;
    flex-direction: column;   
}

.colors{
    display: flex;
    justify-content: space-evenly;
    }
    
    .colorbox{
    height: 24px;
    width: 24px;
    border-radius: 2px;
    margin: 5px;
    border: 1px solid rgb(209 213 219 / 1);
    }

    .bg_btn{
        font-weight: bold;
        padding: 8px 16px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: #7964ff;
        color: white;
        margin: 5px;
    }
    
    /* h-fit w-full rounded-3xl object-cover */
    .backgroundImage{
        height:fit-content;
        width:100%;
        object-fit: cover;
        border-radius: 1.5rem;
        
    }