.share_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ffff;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    padding: 16px;
    border: 1px solid rgb(209 213 219 / 1);
}

.link{
    font-size: 16px;
    margin-left: 10px;
}

