.nav_container{
     position: sticky;
     top: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     z-index: 10;
     
     background-color:var(--header-bg-color);
     border-bottom: 1px solid var(--header-border-color);
    height: 70px;
}

.logo{
  background-image: linear-gradient(to right, #f43f5e,  #f44336, #60a5fa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem; /* Adjust the font size as needed */
  font-weight: 800; /* Adjust the font weight as needed */
  font-family: 'Nunito', sans-serif;
}

.nav_btn{
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #7964ff;
    color: white;
    margin: 5px;
}

.logout_btn{
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    font-size: large;
    background-color: white;
    outline: none;
    border-radius: 50px;
    color: #7964ff;
    margin: 5px;
}