.mobilepreview_container{
    margin-top: 16px;
    background-color: #9ca3af;
    width: 195px;
    height: 422px;
    border-radius: 10px;
}


.profilepic_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile_avatar{
    border-radius: 50%;
    width: 47px;
    height: 47px;
    border-color: white;
border-style: solid;
border-width: thin;
display: flex;
flex-direction: column;
align-items: center;
margin: 20px 60px 0 60px;
justify-content: center;

}

.avatar_icon{
    color: grey;
}

.profile_username{
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.website_name{
  background-image: linear-gradient(to right, #f43f5e,  #f44336, #60a5fa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: 800; /* Adjust the font weight as needed */
  font-family: 'Nunito', sans-serif;
}

.about{
    font-size: 16px;
    font-weight: bold;
}

.social_container{
    display: flex;
    justify-content: center;
}
.socials{
      display: flex;
      align-items: center;
    justify-content: center;
  flex-wrap: wrap;
  width: 55%;
}

.linkCard_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

