.btn_font_colour{
    display: flex;
    flex-direction: column;
align-items: start;   
 background-color: #ffff;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    padding: 16px;
}

.colors{
display: flex;
justify-content: space-evenly;
}

.colorbox{
    height: 24px;
    width: 24px;
border-radius: 2px;
margin: 5px;
border: 2px;
border-style: solid;
border-width: thin;
border-color: grey;
}

.blue{
    background-color: blue;
 }

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

